.box {
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(237, 237, 237);
    margin-top:50px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:20px;
    align-content: center;
}

.navbar {
    margin-right: 0px;
    margin-left: 0px;
    padding: 25px;
    background: rgb(155, 39, 39);
    color: rgb(255, 255, 255);
}

  .navbar-brand {
    height: 60px;
    width: 8%;
    text-align: center;
    font-size:  xx-large;
    border-radius: 25px;
}

.navbar li {
    display: d-block;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

@media (max-width: 500px) {
    .navbar li {
      padding: 10px;
    }
    .box {
      height: 100%;
      width: 100%;
    }
    .navbar ul {
      visibility: hidden;
    }
    #nav-select {
      visibility: visible;
    }
}